[defaults]
inventory = inventories/production/hosts.yml
host_key_checking = False
retry_files_enabled = True
retry_files_save_path = ./retry
stdout_callback = yaml
gathering = smart
timeout = 30
log_path = /var/log/ansible/ad-onboarding.log
display_args_to_stdout = False
error_on_undefined_vars = True

[ssh_connection]
pipelining = True

[privilege_escalation]
become = True
become_method = runas
become_user = SYSTEM

[callback]
callbacks_enabled = profile_tasks, timer

[winrm]
transport = ntlm
server_cert_validation = ignore
port = 5985
operation_timeout_sec = 60
read_timeout_sec = 120
