[defaults]
roles_path = ./roles
retry_files_enabled = False
stdout_callback = default
host_key_checking = False
gathering = smart
timeout = 60
inventory = inventories/production/hosts.yml

[privilege_escalation]
become = True
become_method = runas
become_user = SYSTEM
