[defaults]
host_key_checking = False
gathering = smart
timeout = 120
display_failed_stderr = True
stdout_callback = yaml
display_ok_hosts = yes
display_skipped_hosts = yes
display_failed_stderr = yes
remote_tmp = /tmp/ansible
ansible_winrm_read_timeout_sec = 180
ansible_winrm_operation_timeout_sec = 120

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%h-%%p-%%r